<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yantumeijing.oline_class.mapper.UserMapper">

    <insert id="save" parameterType="User">

        insert into user (name, pwd, head_img, phone, create_time)
        values (#{name},
                #{pwd},
                #{headImg},
                #{phone},
                #{createTime})

    </insert>


    <select id="findByPhone" resultType="User">

        select * from user where phone = #{phone}

    </select>
    <!--根据手机号和密码吗查找用户-->
    <select id="findByPhoneAndPwd" resultType="User">

        select * from user where  phone = #{phone} and pwd = #{pwd};

    </select>

    <select id="findUserInfoById" resultType="User">

        select * from user where id = #{userId}

    </select>
</mapper>